* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.wrapper-a,
.wrapper-c,
.wrapper-b{
    position: absolute;
    width: fit-content;
}

.wrapper-a{
    transform: rotate3d(1, 1, 1, -60deg);
}

.wrapper-c{
    transform: rotate3d(1, 1, 2, 60deg);
}

.circle-a,
.circle-b,
.circle-c{
    position: relative;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent blue blue blue;
    border-left: none;
    border-radius: 50%;
}

.circle-a,
.circle-c{
    transform: scaleY(2.5);
    animation: rotate-a-c 3s linear infinite;
}

.circle-b{
    transform: scaleY(2);
    animation: rotate-b 3s linear infinite;
}


.circle-a::before,
.circle-b::before,
.circle-c::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    top: 20px;
    right: 20px;
}

@keyframes rotate-a-c {
    100%{
        transform: scaleY(2.5) rotate(360deg);
    }
}

@keyframes rotate-b{
    100%{
        transform: scaleY(2) rotate(360deg);
    }
}