* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #62306D;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  div{
    position: relative;
    width: 124px;
    height: 124px;
    background-color: #F7EC7D;
    border-radius: 50%;
    outline: 20px solid #62306D;
  }

  div::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #F7EC7D;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  div::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #F7EC7D;
    border-radius: 50%;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .left,
  .right{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #F7EC7D;
    border-radius: 50%;
    z-index: -1;
  }

  .left{
    right: -10px
  }

  .right {
    left: -10px
  }